
@{
    Layout = null;
    ViewBag.title = "New Password";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewPassword</title>
    <link href="@Url.Content("~/Content/Styling.css")" rel="stylesheet" type="text/css" />

</head>
<style>
    body {
        background-color: #179571;
    }
</style>
<body>
            <h1 align="center">New Password</h1>
            <form method="post" action='@Url.Content("~/User/UpdatePassword")'>
                <input type="password" name="password" required><br />
                <input type="submit" class="button" name="updatePass" value="Update Password">
            </form>
           
</body>
</html>
