
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}
<style>
body{
  background-color:#179571;
}
</style>
<body>

        <title>Admin</title>
        <h2>Admin</h2>
</body>
