
@{
    ViewBag.Title = "NormalUser";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}
<style>
body{
  background-color:#179571;
}
</style>
<body>
    <title>Normal User</title>
    <h2>NormalUser</h2>
</body>

